{{!< default}}

  <div class="main-post-list">

    <ol class="post-list">
      {{#foreach posts}}
      <li><article>
        <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
        <p class="excerpt">{{excerpt}}&hellip;</p>
        <a href="{{url}}" style="float:right">read more</a>
        <br/>
        <div class="post-list__meta"><time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-list__meta--tags tags"><span class="icon icon-pricetag-multiple">&nbsp</span>{{#foreach tags}}<a href="{{url}}#blog" title="{{name}}">{{name}}</a>{{#if @last}}{{else}} {{/if}}{{/foreach}}</span></div>
        <hr class="post-list__divider" />
      </article></li>
      {{/foreach}}
    </ol>

    {{pagination}}

  </div>
