<footer class="footer">
    <span class="footer__copyright" style="float:left">&copy; {{date format="YYYY"}}. <a href="http://gianluca.carucci.org">Gianluca Carucci</a>. All rights reserved.</span>
    <span class="footer__copyright" style="float:right">Proudly published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a></span>
</footer>
