{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Twitter -->
  <li class="navigation__item">
    <a target="blank" href="http://gianluca.carucci.org" title="rucka at home">
      <i class='icon icon-web'></i>
      <span class="label">Website</span>
    </a>
  </li>

<li class="navigation__item">
    <a target="blank" href="http://goo.gl/WCMqi5" title="@rucka on Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="navigation__item">
    <a target="blank" href="http://goo.gl/pSWsZ8" title="Rucka on LinkedIn">
      <i class='icon icon-social-linkedin'></i>
      <span class="label">Linkedin</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a target="blank" href="http://goo.gl/SzphrW" title="Rucka on Github">
      <i class='icon icon-social-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

    <!-- Email -->
    <li class="navigation__item">
      <a target="blank" href="mailto:hello.gianluca@carucci.org" title="Email me">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/rss/" title="Subscribe">
        <i class='icon icon-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>

  </ul>
</nav>
